*{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
html,body{
    width: 600px;
    margin: 0 auto 0 auto;
    height: 100%;
    background-image:url("images/forest\ background\ \(1\).png");
    background-position: center;
    background-attachment: fixed;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
}
#container{
    width: 600px;
    font-size: large;
}
section .intro, section.body, section.ending{
    padding: 25px;
}
.intro{
    background-color: rgb(185, 184, 184);
}
.intro p{
    margin: 0;
    padding: 5px;
}
.intro img{
    width: 100%;
}
.body{
    background-color: white;
}
.body img{
    float: left;
}
section.body{
    font-size: medium;
}
.ending{
    clear: both;
    background-color: rgb(185, 184, 184);
}
a{
    color: blue;
    text-decoration: none;
}